NET "PHY_rx_clk" TNM_NET = "RXCLK_GRP_Ethernet_Lite";
NET "PHY_tx_clk" TNM_NET = "TXCLK_GRP_Ethernet_Lite";
TIMESPEC "TSTXOUT_Ethernet_Lite" = FROM "TXCLK_GRP_Ethernet_Lite" TO "PADS" 10 ns;
OFFSET = IN 6.000 BEFORE  "PHY_rx_clk";
NET "PHY_tx_clk" MAXSKEW= 6.0 ns;
NET "PHY_rx_clk" MAXSKEW= 6.0 ns;
NET "PHY_rx_clk" PERIOD = 40 ns HIGH 14 ns;
NET "PHY_tx_clk" PERIOD = 40 ns HIGH 14 ns;
NET "PHY_rx_data<3>" IOBDELAY=NONE;
NET "PHY_rx_data<2>" IOBDELAY=NONE;
NET "PHY_rx_data<1>" IOBDELAY=NONE;
NET "PHY_rx_data<0>" IOBDELAY=NONE;
NET "PHY_dv" IOBDELAY=NONE;
NET "PHY_rx_er" IOBDELAY=NONE;
NET "PHY_crs" IOBDELAY=NONE;
NET "S_AXI_ACLK" TNM_NET = "S_AXI_ACLK_Ethernet_Lite";
TIMESPEC "TS_AXI_TX_FP_Ethernet_Lite" = FROM "S_AXI_ACLK_Ethernet_Lite" TO "TXCLK_GRP_Ethernet_Lite" TIG;
TIMESPEC "TS_TX_AXI_FP_Ethernet_Lite" = FROM "TXCLK_GRP_Ethernet_Lite" TO "S_AXI_ACLK_Ethernet_Lite" TIG;
TIMESPEC "TS_AXI_RX_FP_Ethernet_Lite" = FROM "S_AXI_ACLK_Ethernet_Lite" TO "RXCLK_GRP_Ethernet_Lite" TIG;
TIMESPEC "TS_RX_AXI_FP_Ethernet_Lite" = FROM "RXCLK_GRP_Ethernet_Lite" TO "S_AXI_ACLK_Ethernet_Lite" TIG;
